video {
	position: absolute;
}

.videos {
	height: 529px;	
	background-color: #222;
}

.pip {
	z-index: 1;
	display: none;
	position: relative;
	top: 20px;
	left: 20px;
}

.video-main {
	width: 940px;
	height: 529px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	width: 940px;
	height: 529px;
}

.upload-container {
	width: 100%;
}

form {
	float: right;
}

.upload-btn{
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px 15px; /*add some padding to the inside of the button*/
	background: #fff; /*the colour of the button*/
	border:3px solid #03cfeb; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	/*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-*/shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#03cfeb;
	font-weight: bold;
	font-size:.8em;
	line-height: 2em;
}