video {
	position: absolute;
}

ul {
	float: left;
}

ul li {
	list-style: none;
	float: left;
	margin-right: 25px;
}

.header {
	background-image: url('images/vevo-header.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: 0 -1px;
	height: 50px;
}

.videos {
	margin-top: -2px;
	width: 100%;
	height: 529px;	
	background-color: #222;
}

.pip {
	z-index: 1;
	display: none;
	position: relative;
	left: 720px;
	top: 160px;
}

.video-main {
	width: 940px;
	height: 529px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	width: 940px;
	height: 529px;
}

.fanups {
	width: 100%;
	padding: 15px;
	height: 100%;
	background-color: #eee;
	height: 60px;
}

.upload-container {
	float: right;
	margin-right: 10px;
	width: 570px;
}	

.title-container {
	float: left;
	font-family: "Arial Black";
	width: 100px;
}

.title {
	color: #f90094;
	font-weight: bold;
	font-size:1.2em;
	line-height: 1.2em;
}

.subtitle {
	color: #999;
}

.left {
	float: left;
	width: 20px;
}

.right {
	float: right;
	width: 20px;
}

.fan {
	width: 400px;
	background-color: #ccc;
	height: 60px;
	padding: 15px;
	margin-top: -31px;
	font-family: "Arial Black";
}

.fan .fan-details .fan-title {
	font-size: .8em;
	color: rgba(0,0,0,.5);
}

.fan .fan-details .fan-name {
	font-size: 1.2em;
	color: #f90094;
}

.fanup-select {
	margin-left: 75px;
	width: 650px;
	float: left;
}

.fan img {
	margin-left: 30px;
}

.fan-details {
	float: right;
	margin-right: 30px;
}

.upload-container {
	font-family: "Arial Black", sans-serif !important;
}

.file-upload {
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	border: 2px solid #222;
	background: #333;
	border-radius: 10px;
	height: 36px;
	left: 40px;
}
.file-upload, .file-upload span {
	width: 14em;
}
.file-upload span {
	position: relative;
	top: 5px;
	z-index: 10;
}
.file-upload strong {
	/*font: normal 1.75em arial,sans-serif;*/
}
.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 70px;
	opacity: 0;
}

#newPipStartTime {
	border: 3px solid #03cfeb;
	border-radius: 10px;
	color: #03cfeb;
	font-size: 20px;
	font-weight: bold;
	font-size:.8em;
	height: 41px;
	left: 20px;
	line-height: 2em;
	position: relative;
	text-align: center;
	width: 75px;
}

.upload-btn{
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px 15px; /*add some padding to the inside of the button*/
	background: #03cfeb; /*the colour of the button*/
	border:3px solid #03cfeb; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	/*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-*/shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#fff;
	font-weight: bold;
	font-size:.8em;
	line-height: 2em;
}